<!DOCTYPE html>
<html>
<head>
  <title>Suggestotron</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Grabs bootstrap styling and javascript from directory -->
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../bootstrap/css/docs.min.css">
  <script src="../javascript/jquery-1.11.2.min.js"></script>
  <script src="../bootstrap/js/bootstrap.min.js"></script>

</head>
<body>

<%= yield %>

</body>
</html>
